<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
th:replace="~{fragments/layout :: layout (~{::body},'cs')}">
<head>
    <title>Customer List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  
  <h2>Customers</h2>
  
   <table id="cs" class="table table-striped">
     <thead>
       <tr>
         <th>Nome</th>
         <th>Sobrenome</th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="customer : ${cs.getLista}">
         <td th:text="${customer.firstName + ' ' + customer.lastName}"></td>
       </tr>
     </tbody>
   </table>    
</body>
</html>